<script>
import MetricChart from "@/components/LanguageMetric";
import ContributorMetric from "@/components/ContributorMetric";
import DocumentationMetric from "@/components/DocumentationMetric";

export default {
  components: {
    DocumentationMetric,
    ContributorMetric,
    MetricChart
  },
  data: () => ({
    gridColumns: ['User Name', 'Lines Contributed'],
    gridData: [],
    repositoryId: -1,
    errorMessage: "",
  }),
  methods: {
    loadRepositoryContributors() {
      this.errorMessage = "";
      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      const repo = urlParams.get('repositoryId')
      this.repositoryId = repo;
      fetch("/metric/authors/" + repo.toString()).then(response => {
        if(response.ok){
          response.json().then(response => {
            let authors = Array.from(response);
            authors.forEach(author => {
              fetch("/user/" + author["userId"].toString()).then(response => {
                if(response.ok){
                  response.json().then(user => {
                    author["pseudo"] = user["pseudo"];
                    this.gridData.push(author);
                    if(this.gridData.length === authors.length){
                      this.gridData = this.gridData.sort((a, b) => b["linesContributed"] - a["linesContributed"]);
                    }
                  })
                }else{
                  response.json().then(response => this.errorMessage = response["message"]);
                }
              });
            });
          })
        }else{
          response.json().then(response => this.errorMessage = response["message"]);
        }
      })
    },
  },
  beforeMount(){
    this.loadRepositoryContributors()
  }
}
</script>

<template>
  <main class="container-fluid">
    <div class="container-fluid">
      <p class="text-danger">{{errorMessage}}</p>
      <h3 class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center text-white">Programming languages</h3>
      <MetricChart
        :repositoryId="repositoryId">
      </MetricChart>
      <h3 class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center text-white">Contributors</h3>
      <ContributorMetric
          :data="gridData"
          :columns="gridColumns">
      </ContributorMetric>
      <h3 class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center text-white">Documentation</h3>
      <DocumentationMetric
          :repositoryId="repositoryId">
      </DocumentationMetric>
    </div>
  </main>
</template>

<style>
@import '../../../node_modules/bootstrap/dist/css/bootstrap.css';

body {
  height: 100vh;
  background-color: #2c3e50;
}

main {
  height: 200vh;
  background-color: #2c3e50;
}

div {
  height: 50vh;
}
</style>