<script>
export default {
  name: "ContributorMetric",
  props: {
    data: Array,
    columns: Array,
  },
  methods: {
    convertTitleToKey (title) {
      switch (title){
        case "User Name":
          return "pseudo";
        case "Lines Contributed":
          return "linesContributed";
        default:
          return "NO TITLE FOUND";
      }
    },
  },
}
</script>

<template>
  <table v-if="data.length" class="table table-striped table-dark">
    <thead>
    <tr>
      <th v-for="title in this.columns" scope="col">
        {{title}}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="entry in this.data">
      <td v-for="title in this.columns">
        {{entry[convertTitleToKey(title)]}}
      </td>
    </tr>
    </tbody>
  </table>
</template>
