<script>
import {GChart} from "vue-google-charts"

export default {
  name: "DocumentationMetric",
  props:{
    repositoryId: Number,
  },
  components: {
    GChart
  },
  data () {
    return {
      chartData: [
      ],
      chartOptions: {
        chart: {
          title: 'Documentation rate',
          subtitle: 'Rate of documentation of the project',
        },
        is3D: true,
        backgroundColor: '#CACACA',
      },
      errorMessage: ""
    }
  },
  methods: {
    loadRepositoryDocumentationMetric() {
      this.errorMessage = "";
      const repo = this.repositoryId;
      fetch("/metric/documentation/" + repo.toString()).then(response => {
        if(response.ok){
          response.json().then(response => {
            let usersDocumentation = Array.from(response);
            let columnsNameLine = ["Documentation", "Code"];
            this.chartData.push(columnsNameLine);
            let totalDocumentation = 0;
            let totalCode = 0;
            usersDocumentation.forEach(documentation => {
              totalDocumentation += documentation["linesCount"];
            });
            this.chartData.push(["Documentation", totalDocumentation]);
            fetch("/metric/authors/" + repo.toString()).then(response => {
              if (response.ok) {
                response.json().then(response => {
                  let authors = Array.from(response);
                  authors.forEach(author => {
                    totalCode += author["linesContributed"];
                  });
                  this.chartData.push(["Code", totalCode]);
                });
              }else{
                response.json().then(response => this.errorMessage = response["message"]);
              }
            });
          })
        }else{
          response.json().then(response => this.errorMessage = response["message"]);
        }
      })
    },
  },
  beforeMount(){
    this.loadRepositoryDocumentationMetric()
  }

}
</script>

<template>
  <p class="text-danger">{{errorMessage}}</p>
    <GChart
        type="PieChart"
        :data="chartData"
        :options="chartOptions"
    />
</template>