<script>
import {GChart} from "vue-google-charts"

export default {
  name: "MetricChart",
  props:{
    repositoryId: Number,
  },
  components: {
    GChart
  },
  data () {
    return {
      chartData: [
      ],
      chartOptions: {
        chart: {
          title: 'Programing languages',
          subtitle: 'Different kind of languages used by the project.',
        },
        is3D: true,
        backgroundColor: '#CACACA',
      },
      errorMessage: ""
    }
  },
  methods: {
    loadRepositoryMetrics() {
      this.errorMessage = "";
      const repo = this.repositoryId;
      console.log(repo);
      fetch("/metric/languages/" + repo.toString()).then(response => {
        if(response.ok){
          response.json().then(response => {
            let metrics = Array.from(response);
            let languageNamesLine = [];
            languageNamesLine.push("Languages");
            metrics.forEach(language => languageNamesLine.push(language["name"]))
            this.chartData.push(languageNamesLine);
            metrics.forEach((language, index)  => {
              let newLine = [];
              newLine.push(language["name"], language["filesCount"]);
              metrics.forEach((otherLanguage, otherIndex) => {
                if(index !== otherIndex){
                  newLine.push(otherLanguage["filesCount"]);
                }
              })
              this.chartData.push(newLine);
            })
          })
        }else{
          response.json().then(response => this.errorMessage = response["message"]);
        }
      })
    },
  },
  beforeMount(){
    this.loadRepositoryMetrics()
  }

}
</script>

<template>
  <p class="text-danger">{{errorMessage}}</p>
    <GChart
        type="PieChart"
        :data="chartData"
        :options="chartOptions"
    />
</template>