<script>
export default {
  name: "RepositoryTable",
  props: {
    data: Array,
    columns: Array,
    funcRefresh: Function,
  },
  methods: {
    convertKeyToTitle (key) {
      //TODO create back endpoint to convert entity field to string title like name -> Project name
      switch (key){
        case "name":
          return "Project name";
        case "url":
          return "Url";
        case "creation_date":
          return "Added date";
        case "refresh_date":
          return "Last refresh";
        default:
          return "NO TITLE FOUND";
      }
    },
    convertTitleToKey (title) {
      //TODO create back endpoint to convert entity field to string title like name <-> Project name
      switch (title){
        case "Project name":
          return "name";
        case "Url":
          return "url";
        case "Added date":
          return "creation_date";
        case "Last refresh":
          return "refresh_date";
        case "Updating":
          return "status";
        default:
          return "NO TITLE FOUND";
      }
    },
    changePage(id){
      document.location='metrics.html?repositoryId=' + id.toString();
    }
  }

}

</script>

<template>
  <table v-if="data.length" class="table table-striped table-dark table-hover">
    <thead>
    <tr>
      <th v-for="title in this.columns" scope="col">
          {{title}}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr :id="entry['repositoryId']" v-on:dblclick="changePage(entry['repositoryId'])"  v-for="entry in this.data">
      <td :id="entry['repositoryId'] + title" v-for="title in this.columns" class="align-middle">
          {{entry[convertTitleToKey(title)]}}
          <button v-if="title === 'Updating'" v-on:click="this.funcRefresh(entry['repositoryId'])" class="btn btn-primary">Refresh</button>
      </td>
    </tr>
    </tbody>
  </table>
</template>



