<script>
export default {
  name: "UserInformation",
  props: {
    data: Array,
    columns: Array,
  },
  methods: {
    convertTitleToKey (title) {
      //TODO create back endpoint to convert entity field to string title like name <-> Project name
      switch (title){
        case "Project Name":
          return "name";
        case "Badges":
          return "badge";
        default:
          return "NO TITLE FOUND";
      }
    },
  }
}
</script>

<template>
  <table v-if="data.length" class="table table-striped table-dark table-hover">
    <thead>
    <tr>
      <th v-for="title in this.columns" scope="col">
        {{title}}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="entry in this.data">
      <td v-for="title in this.columns">
        {{entry[convertTitleToKey(title)]}}
      </td>
    </tr>
    </tbody>
  </table>
</template>
