<script>
export default {
  name: "UsersTable",
  props: {
    data: Array,
    columns: Array,
  },
  methods: {
    convertTitleToKey (title) {
      //TODO create back endpoint to convert entity field to string title like name <-> Project name
      switch (title){
        case "User name":
          return "pseudo";
        case "Email":
          return "email";
        case "Projects count":
          return "project_count";
        case "Main project":
          return "main_project";
        case "Badges":
          return "badges";
        default:
          return "NO TITLE FOUND";
      }
    },
    changePage(id){
      document.location='users.html?userId=' + id.toString();
    }
  }
}
</script>

<template>
  <table v-if="data.length" class="table table-striped table-dark table-hover">
    <thead>
    <tr>
      <th v-for="title in this.columns" scope="col">
        {{title}}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr :id="entry['userId']" v-on:dblclick="changePage(entry['userId'])"  v-for="entry in this.data">
      <td v-for="title in this.columns">
        {{entry[convertTitleToKey(title)]}}
      </td>
    </tr>
    </tbody>
  </table>
</template>
