<script>
import RepositoryTable from '../../components/RepositoryTable.vue'
import UsersTable from "../../components/UsersTable.vue";

export default {
  components: {
    UsersTable,
    RepositoryTable
  },
  data: () => ({
    gridColumns: ['Project name', 'Url', "Added date", "Last refresh", "Updating"],
    gridData: [],
    gridUsersColumns: ['User name', 'Email', 'Main project', 'Projects count', 'Badges'],
    gridUsersData: [
    ],
    disableAddButton: false,
    url: "https://github.com/Mikdaam/Splendor.git",
    tokenName: "",
    token: "",
    errorMessage: "",
  }),
  methods: {
    loadRepositories() {
      this.errorMessage = "";
      fetch("/repository/getAll").then(response => {
        if(response.ok){
          response.json().then( response => {
            let repositories = Array.from(response);
            repositories.forEach(repo => {
              repo['status'] = "Finished";
              this.gridData.push(repo);
            })
          })
        }else{
          response.json().then(response => this.errorMessage = response["message"]);
        }
      })
    },
    loadUsers() {
      this.errorMessage = "";
      this.gridUsersData = [];
      fetch("/user/getAll").then(response => {
        if(response.ok){
          response.json().then(response => {
            let users = Array.from(response);
            users.forEach(user => {
              fetch("/user/authors/" + user["userId"].toString()).then(response => {
                if(response.ok){
                  response.json().then(response => {
                    let userAuthors = Array.from(response);
                    user["project_count"] = userAuthors.length;
                    let bestRepo = null;
                    if(userAuthors.length > 1){
                      bestRepo = userAuthors.reduce((previous, current) => previous["linesContributed"] < current["linesContributed"] ? previous : current);
                    }else{
                      bestRepo = userAuthors[0];
                    }
                    let mainUserRepository = this.gridData.find(repo => repo["repositoryId"] === bestRepo["repositoryId"]);
                    user["main_project"] = mainUserRepository["name"];
                    fetch("/user/badges/" + user["userId"].toString()).then(response => {
                      if (response.ok) {
                        response.json().then(response => {
                          let badges = Array.from(response);
                          user["badges"] = badges.map(value => value["name"]).join(", ");
                          this.gridUsersData.push(user);
                        });
                      }else{
                        response.json().then(response => this.errorMessage = response["message"]);
                      }
                    });
                  })
                }else{
                  response.json().then(response => this.errorMessage = response["message"]);
                }
              })
            })
          })
        }else{
          response.json().then(response => this.errorMessage = response["message"]);
        }
      })
    },
    addRepository () {
      this.errorMessage = "";
      this.disableAddButton = true;
      let repositoryTemplate = JSON.stringify({url: this.url, tokenName: this.tokenName, token: this.token})
      fetch("/repository/add/",{
        method:"POST",
        body: repositoryTemplate.toString()
      }).then((res) => {
        this.disableAddButton = false;
        if(res.ok){
          res.json().then(response => {
            response['status'] = "Computing...";
            let id = response['repositoryId'];
            this.gridData.push(response);
            fetch("/repository/generateMetrics/"+id.toString()).then(() => {
              response['status'] = "Finished";
              document.getElementById(response['repositoryId']).lastElementChild.firstChild.textContent = "Finished";
              this.loadUsers();
            })
          });
        }else{
          res.json().then(response => this.errorMessage = response["message"]);
        }
      }).catch(function(res){ console.log(res) })
    },
    refreshMetric(repositoryId){
      console.log("Refresh metrics for repository " + repositoryId);
    },
  },
  beforeMount(){
    this.loadRepositories();
    this.loadUsers();
  },
}

</script>

<template>
  <main class="container-fluid">
    <h1 class="h1 text-white mt-4">Welcome to Clout Metrics</h1>
    <div class="container-fluid mt-4 mb-1" style="width:100%">
      <div class="row mb-2" style="width:100%">
        <div class="col-md-2">
          <button :disabled="disableAddButton" @click="addRepository()" class="btn btn-primary" style="width:100%"> Add Repository</button>
        </div>
        <div class="col-md-4">
          <input v-model="url" maxlength="255" placeholder="Name of a Git Repository" class="input-group-text" style="width:100%">
        </div>
        <div class="col-md-3">
          <input v-model="tokenName" maxlength="255" placeholder="(Optional) Git token name" class="input-group-text" style="width:100%">
        </div>
        <div class="col-md-3">
          <input v-model="token" maxlength="255" placeholder="(Optional) Git token" class="input-group-text" style="width:100%">
        </div>
      </div>
      <p class="text-danger">{{errorMessage}}</p>
      <RepositoryTable
          :data="gridData"
          :columns="gridColumns"
          :funcRefresh="refreshMetric">
      </RepositoryTable>
      <UsersTable
          :data="gridUsersData"
          :columns="gridUsersColumns">
      </UsersTable>
    </div>
  </main>
</template>

<style>
@import '../../../node_modules/bootstrap/dist/css/bootstrap.css';

body {
  background-color: #2c3e50;
}

main {
  text-align: center;
  background-color: #2c3e50;
}
</style>