<script>
import UserInformation from "../../components/UserInformation.vue";
export default {
  components: {
    UserInformation
  },
  data: () => ({
    gridUserInformationColumns: ['Project Name', 'Badges'],
    gridUserInformationData: [
    ],
    errorMessage: "",
  }),
  methods: {
    loadUserInformation () {
      this.errorMessage = "";
      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      const userId = urlParams.get('userId');
      fetch("/user/authors/" + userId.toString()).then(response => {
        if(response.ok){
          response.json().then(response => {
            let userAuthors = Array.from(response);
            userAuthors.forEach(author => {
              fetch("/repository/" + author["repositoryId"]).then(responseRepository => {
                if(responseRepository.ok){
                  responseRepository.json().then( responseRepositoryJsonResult => {
                    fetch("/user/badges/" + author["userId"].toString()).then(response => {
                      if (response.ok) {
                        response.json().then(responseBadges => {
                          let badges = Array.from(responseBadges);
                          let userBadges = badges.map(value => value["name"]).join(", ");
                          this.gridUserInformationData.push({name: responseRepositoryJsonResult["name"] , badge: userBadges.toString()});
                        });
                      }else{
                        response.json().then(response => this.errorMessage = response["message"]);
                      }
                    });
                  })
                }else{
                  response.json().then(response => this.errorMessage = response["message"]);
                }
              })
            })
          })
        }else{
          response.json().then(response => this.errorMessage = response["message"]);
        }
      });
    },
  },
  beforeMount(){
    this.loadUserInformation()
  },

}
</script>

<template>
  <main class="container-fluid">
    <p class="text-danger">{{errorMessage}}</p>
    <UserInformation
        :data="gridUserInformationData"
        :columns="gridUserInformationColumns">
    </UserInformation>
  </main>
</template>

<style>
@import '../../../node_modules/bootstrap/dist/css/bootstrap.css';

body {
  background-color: #2c3e50;
}

main {
  text-align: center;
  background-color: #2c3e50;
}
</style>